
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>角色</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layer/mobile/need/layer.css" rel="stylesheet" />
    <script src="~/layer/mobile/layer.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/dateConverter.js"></script>
</head>


<body>

    <div class="demoTable">
        角色名称：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="roleName" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>

    <table class="layui-hide" id="test" lay-filter="test"></table>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="addRole">添加角色</button>
            <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delRole">批量删除</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="jurisdiction">分配权限</a>
    </script>


    <script src="~/layui/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->

    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
                , url: '/Role/RoleIndex'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    , layEvent: 'LAYTABLE_TIPS'
                    , icon: 'layui-icon-tips'
                }]
                , title: '角色数据表'
                , cols: [[
                    { type: 'checkbox', fixed: 'left', align: 'center' }
                    , { field: 'roleId', title: 'ID',fixed: 'left', align:'center', sort: true }
                    , { field: 'roleName', title: '角色名称',edit: 'text', align: 'center' }
                    , { field: 'roleMsg', title: '角色描述',  edit: 'text', align: 'center' }
                    , { field: 'roleState', title: '角色状态', edit: 'text', sort: true, align: 'center' }
                    , { field: 'roleCreateName', title: '创建人',align: 'center' }
                    , { field: 'roleCreateDate', title: '创建时间',  align: 'center' }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 280, align: 'center' }
                ]]
                , id: 'testReload'
                , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                    , curr: 1 //设定初始在第 5 页
                    , groups: 5 //只显示 1 个连续页码
                    , first: '首页' //不显示首页
                    , last: '尾页' //不显示尾页
                    , page: 1
                    , limit: 5
                    , limits: [1, 2, 3, 4, 5, 10, 20, 50, 100]
                }
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选' : '未全选');
                        break;
                    case 'delRole':
                        layer.confirm('真的删除行么', function (index) {
                            var data = checkStatus.data;//获取全部数据
                            var Ids = [];//定义保存Id的数组
                            //循环遍历选中的Id并存进数组
                            for (var i = 0; i < data.length; i++) {
                                Ids.push(data[i].roleId)
                            }
                            //Ajax执行删除
                            $.ajax({
                                url: "/Role/DelRole?id=" + Ids.toString(),
                                type: "post",
                                success: function (d) {
                                    if (d > 0) {
                                        layer.msg("删除成功", {
                                            time: 500,
                                            icon: 1
                                        }, function () {
                                            parent.location.reload();
                                        })
                                    }
                                }
                            })
                            layer.close(index);
                        });
                        break;
                    case 'addRole':
                        layer.open({
                            type: 2,
                            area: ['70%', '80%'],
                            title: '添加角色',
                            content:'/Role/CreateRole'
                        })
                        break;
                    //自定义头工具栏右侧图标 - 提示
                    case 'LAYTABLE_TIPS':
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                        break;
                };
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                            url: "/Role/DelRole?id=" + data.roleId,
                            type: "post",
                            success: function (d) {
                                if (d>0) {
                                    layer.msg("删除成功", {
                                        time:500,
                                        icon: 1
                                    }, function () {
                                        parent.location.reload();
                                    })
                                }
                            }
                        })
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    layer.open({
                        type: 2,
                        area: ['70%', '80%'],
                        title: '编辑角色信息',
                        content: '/Role/EditRole?id=' + data.roleId,
                    });
                } else if (obj.event === 'jurisdiction') {
                    layer.open({
                        type: 2,
                        area: ['70%', '80%'],
                        title: '分配功能/菜单',
                        content: '/Menu/Index?roleId=' + data.roleId
                    })
                }
            });

            var $ = layui.$, active = {
                reload: function () {
                    var demoReload = $('#roleName');

                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            roleName: demoReload.val()
                        }
                    });
                }
            };

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>


</body>
</html>
